:root {
  /* primary */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  /* neutral */
  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--very-dark-blue-main-bg);
  color: var(--soft-blue);
}

.container {
  background: var(--very-dark-blue-card-bg);
  border-radius: 20px;
  margin: 10vh auto;
  height: 600px;
  width: 370px;
  padding: 30px;
  box-shadow: 0px 20px 5px 20px hsl(217, 54%, 10.5%),
    3px 30px 10px 65px hsl(217, 54%, 10.9%);
}

.container2 {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
  display: block;
  border-radius: 20px;
  width: 100%;
  object-fit: contain;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: hsla(178, 100%, 50%, 0.5);
  border-radius: 20px;
}

.container2:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlay-icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  padding: 1rem 0;
  color: var(--white);
  font-weight: 600;
}

h1:hover {
  color: var(--cyan);
  cursor: pointer;
  transition: 0.5s ease;
}

p {
  padding-bottom: 1rem;
  font-size: 18px;
  font-weight: 300;
}

.twoElements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.icon {
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.icon1Text {
  color: var(--cyan);
  font-weight: 400;
}

.icon2Text {
  font-weight: 400;
}

hr {
  background-color: var(--very-dark-blue-line);
  height: 1px;
  border: none;
  margin-bottom: 1rem;
}

.image-avatar {
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 10%;
  position: relative;
  top: 10px;
  margin-right: 10px;
}

span {
  color: var(--white);
}

span:hover {
  color: var(--cyan);
  cursor: pointer;
  transition: 0.5s ease;
}
